body {
    background-image: url('img/back2.jpg');
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    background-color: #fbf7f0;
    height: 100%;
    color: #f2ede4;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Times New Roman', serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #f2ede4;
}

#data-entry,
#prediction,
#diagnosis-form {
    margin: 2% auto; /* Convert margin to a percentage */
    width: 40%; /* Convert width to a percentage */
    max-width: 70%; /* Convert max-width to a percentage */
    padding: 3%;
    background-color: rgba(153, 102, 204, 0.3);
    border: 1px solid #512f89;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 128, 0.5);
    align-content: center;
}

/* Add this CSS rule to adjust the width of the gender select field */
#gender {
    width: 99%;
}
table {
    margin: 2% auto; /* Convert margin to a percentage */
    width: 70%; /* Convert width to a percentage */
    max-width: 90%; /* Convert max-width to a percentage */
    padding: 3%;
    font-size: 1vw; /* Use viewport units for font size to make it responsive */
    background-color: rgba(153, 102, 204, 0.3);
    border: 1px solid #512f89;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 128, 0.5);
}

#button2 {
    text-align: center;
}

input[type="text"],
input[type="number"],
select,
#predict-duration,
#predict-activity,
#predict-stress {
    margin: 2% 0; /* Convert margin to a percentage */
    padding: 2%; /* Convert padding to a percentage */
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}



#submit-button,
#train-button,
#predict-button,
#diagnosis-submit,
#diagnosis-button {
    text-align: center;
    background-color: #fbf7f0;
    color: #512f89;
    border: none;
    padding: 2% 3%;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw; /* Use viewport units for font size to make it responsive */
}

#submit-button:hover,
#train-button:hover,
#predict-button:hover,
#diagnosis-submit:hover,
#diagnosis-button:hover {
    background-color: #ae99e8;
}

th, td {
    padding: 2%;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 1vw; /* Use viewport units for font size to make it responsive */
}

#predicted-quality {
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw; /* Use viewport units for font size to make it responsive */
    margin-top: 2%;
}
