body {
    background-image: url('img/back2.jpg');
    font-family: 'Open Sans', sans-serif; /* Use Open Sans font */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    background-color: #fbf7f0;
    height: 100%;
    color: #f2ede4; /* Reverted text color */
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Times New Roman', serif; /* Use Times New Roman for h1 */
}

h3 {
    font-family: 'Open Sans', sans-serif; /* Use Open Sans for headings */
    text-align: center;
    color: #f2ede4; /* Reverted heading text color */
}

#data-entry,
#prediction,
#diagnosis-form {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    padding: 3%;
    background-color: #512f89;
    border: 1px solid #512f89;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 128, 0.5);
}

table {
    margin: 20px auto;
    width: 80%;
    max-width: 70%;
    padding: 3%;
    background-color: #512f89;
    border: 1px solid #512f89;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 128, 0.5);
}

#button2 {
    text-align: center;
}

input[type="text"],
input[type="number"],
select,
#predict-duration,
#predict-activity,
#predict-stress {
    margin: 10px 0;
    padding: 3%;
    width: 94%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

/* Add this CSS rule to adjust the width of the gender select field */
#gender {
    width: 100%;
}

#submit-button,
#train-button,
#predict-button,
#diagnosis-submit,
#diagnosis-button {
    background-color: #fbf7f0;
    color: #512f89; /* Reverted button text color */
    border: none;
    padding: 2% 3%;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif; /* Use Open Sans for buttons */
    font-size: 14px;
}

#submit-button:hover,
#train-button:hover,
#predict-button:hover,
#diagnosis-submit:hover,
#diagnosis-button:hover {
    background-color: #ae99e8;
}

th, td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

#predicted-quality {
    font-family: 'Open Sans', sans-serif; /* Use Open Sans for predicted quality */
    font-size: 18px;
    margin-top: 20px;
}


